    body {
        font-family: sans-serif;
        font-style: normal;
        font-weight: bold;
        background-image: url("images/background.png");
        background-size: 100%;
    }
    
    .main {
        /* Same as the width of the sidenav */
        font-size: 28px;
        /* Increased text to enable scrolling */
    }
    
    .links {
        line-height: 172% !;
        font-style: normal;
        font-size: 16px;
        font-family: inherit;
        font-weight: 500;
        color: inherit;
    }
    
    #head1 {
        margin-bottom: 2%;
        font-family: sans-serif;
        font-weight: 500;
        line-height: 1.2;
        color: white;
        margin-top: 7.5%;
        font-size: 40px;
    }
    
    .dropdown-submenu {
        position: relative;
    }
    
    .dropdown-submenu>a:after {
        content: ">";
        float: right;
    }
    
    .dropdown-submenu>.dropdown-menu {
        top: 0;
        left: 100%;
        margin-top: 0px;
        margin-left: 0px;
    }
    
    .dropdown-submenu:hover>.dropdown-menu {
        display: block;
    }
    
    .nav-link {
        font-weight: 600;
    }
    
    .bg-danger {
        background-color: #CB0000 !important;
    }
    
    .dropdown-submenu:hover>.dropdown-menu {
        display: block;
    }
    
    #logo {
        margin-left: -9%;
        margin-top: -7% !important;
        margin-bottom: -5%;
    }
    
    .heading {
        margin: 6% 0 0 12%;
    }
    
    p {
        margin-left: 6%;
    }
    
    #dLabel {
        margin-left: -17%;
    }
    
    @media (max-width: 1266px) {
        .row {
            margin-top: 10%;
        }
    }
    
    @media (max-width: 1120px) {
        .sidenav {
            margin-left: -10%;
        }
    }
    
    @media (max-width: 766px) {
        .sidenav {
            margin-left: -10%;
        }
    }
    
    @media (max-width: 767px) {
        .col-sm-3 {
            visibility: hidden !important;
        }
        body {
            background-size: 200%;
        }
    }
    
    .side-nav1:hover {
        color: white;
        opacity: 1 !important;
    }
    
    .col-sm-3 {
        padding-top: 6%;
        background: rgba(0, 0, 0, 0.527);
        background-size: 100%;
    }
    
    hr.new1 {
        border: 1px solid rgba(255, 255, 255, 0.219);
    }
    #parth {
        line-height: 200%;
        padding-left: 3%;
         }