.dropdown-submenu {
    position: relative;
}

.side-nav1:hover {
    color: white;
    opacity: 1 !important;
}

.dropdown-submenu>a:after {
    content: ">";
    float: right;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: 0px;
    margin-left: 0px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.nav-link {
    font-weight: 600;
}

.bg-danger {
    background-color: #CB0000 !important;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

#logo {
    margin-left: -9%;
    margin-top: -7% !important;
    margin-bottom: -5%;
}

.heading {
    margin: 7.5% 0 0 0;
}

@media (min-width: 991px) {
    #drpdown1 {
        padding: 0 0 0 1%;
        margin-left: 5px;
    }
    #drpdown2 {
        padding: 0 0 0 1%;
        margin-left: 5px;
    }
    #drpdown3 {
        padding: 0 0 0 1%;
        margin-left: 5px;
        width: 100%;
    }
    #drpdown4 {
        padding: 0 0 0 1%;
        margin-left: -20px;
    }
}

@media (min-width: 988px) {
    #logo {
        margin-top: -9%;
        margin-bottom: -5%;
    }
}

body {
    font-family: sans-serif;
    font-style: normal;
    color: white;
    background-image: url("images/background.png");
    background-size: 100%;
    font-weight: bold;
}

.main-text {
    margin: 1% 0 0 0;
    font-weight: 500;
}

.main-text1 {
    margin: 1% 0 0 0;
    font-weight: 500;
}


/* .side-nav {
    margin: -60% 0 0 2.40%;
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    text-decoration: none;
    color: white;
}

.side-nav1 {
    margin: 02% 0 0 2.40%;
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: white;
} */

.col-md-3 {
    margin: 0 0 0 0 !important;
    color: white;
}

@media (max-width: 800px) {
    .col-md-3 {
        visibility: hidden;
    }
}

.side-nav,
.side-nav1 {
    margin-left: 6%;
}

#navbarResponsive {
    padding: 0 2% 0 0;
}


/* .row>div {
    border-right: 0.1px solid grey;
} */

@media (max-width: 1290px) {
    .row {
        margin-top: 6%;
    }
}

@media (max-width: 767px) {
    .row {
        margin-top: -20%;
    }
}

.col-md-3 {
    padding-top: 6%;
    background: rgba(0, 0, 0, 0.527);
    background-size: 100%;
}

.col-md-9 {
    padding-bottom: 5%;
}

hr.new1 {
    border: 1px solid rgba(255, 255, 255, 0.219);
}